.fa {
  margin-bottom: 5px;
  padding: 10px;
  width: auto;
  text-align: center;
  text-decoration: none !important;
}

.fa:hover {
  background-color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white !important;
}

.fa-twitter {
  background: #55ACEE;
  color: white !important;
}

.fa-google {
  background: #dd4b39;
  color: white !important;
}
.fa-instagram {
  background: #125688;
  color: white !important;
}
.fa-youtube {
  background: #bb0000;
  color: white !important;
}