.file {
  visibility: hidden;
  position: absolute;
}
.tmp img {
  max-width: 100%;
}
.btn { border-radius: unset; }
.navbar-brand a { border-radius: unset !important; }
button { border-radius: unset !important; }
input { border-radius: unset !important; }
select { border-radius: unset !important; }
#show {
  box-shadow: 0px 0px 5px 5px #f2f2f2;

  -webkit- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -moz- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -o- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -ms- box-shadow: 0px 0px 5px 5px #f2f2f2;
}
.container .btn { color: white !important; }
.container a {
  color: black;
  text-decoration: none;
}
.container-fluid a { color: #ffffff !important; text-decoration: none; font-weight: bold;}
img { margin: 0 auto; display: block; max-width: 100%; }
.thumbnail {
  width: 100px;
  font-size: 12px;
  text-decoration: none !important;
}
.fotli {
	display: inline-block;
	margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.fotli a {
	text-decoration: none;
	color: #000000;
}
.admin {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  list-style: none;
}
.admin a {
  width: 200px;
}
blockquote {
	font-size: 12px !important;
	color: #000000;
	font-weight: bold;
}
/**mce**/
.mce-window                         {max-width:100% !important;}
.mce-window-head                    {background:#f2f2f2 !important;}
.mce-window-body                    {background:#f2f2f2 !important;}
.mce-foot > .mce-container-body     {padding:10px !important; width:80% !important;}
.mce-panel                          {max-width:100% !important;}
.mce-container                      {max-width:100% !important; height:auto !important; overflow:auto;}
.mce-container-body                 {max-width:100% !important; height:auto !important; overflow:auto;}
.mce-form                           {padding:10px !important;}
.mce-tabs                           {max-width:100% !important;}
.mce-formitem                       {margin:10px 0 !important;}
.mce-abs-layout-item                {position:static !important; width:auto !important;}
.mce-abs-layout-item.mce-label      {display:block !important;}
.mce-abs-layout-item.mce-textbox    {-webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; box-sizing:border-box !important; display:block !important; width:100% !important;}
.mce-abs-layout-item.mce-combobox   {display:flex !important;}
.mce-abs-layout-item.mce-combobox > .mce-textbox {-ms-flex:1 1 auto; -webkit-flex:1 1 auto; flex:1 1 auto; height:29px !important; width:80% !important;}
.mce-container-body.mce-window-body.mce-abs-layout iframe {height:500px !important;} /*this only use with responsive file manager 9*/
#profil {
	background-image: url(/aspal.jpg);
  background-size: 100%;
  color: white; font-weight: bold;
  position: static;
}
.navbar {
  background-image:
    linear-gradient(
      #000000, #999999
    );
}
.navbar a:hover {
  background-color: #999999 !important;
}
#logo:hover {background-color: unset !important;}
#imgUser:hover {background-color: unset !important;}
blockquote {
  background-color: #f2f2f2;
  margin-left: -5px;
}
body {
  background-color: #ffffff;
  color: black !important;
}
#fbrands a {
  margin-right: 5px;
  margin-left: 5px;
}
#brandNav {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}
.img-circle {
  width: 40px;
}
#mobil {
  width: 100%;
  height: 330px;
}
 #tbl {
  font-size: 18px;
  padding-top: 10px;
 }
#imgH {
  height: 150px; max-width: 100%; width: 250px; display: block; margin: 0 auto;
}
.social {
  list-style: none;
}
.dropdown-menu {
  background-image:
    linear-gradient(
      #999999, #000000
    );
}
