.index .video {
  position: absolute; opacity: 0.9; width: 20%; margin-left: 35%; height: 50px; margin-top: 40px;
}
.mainBrand {
  transition: transform 1s;
}
.mainBrand:hover {
  transform: scale(1.1);
}
.mainMobil {
  transition: transform 1s;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainMobil:hover {
  transform: scale(1.05);
}
.main {
  transition: transform 1s;
  margin-top: 20px;
  margin-bottom: 50px;
}
.mainForum {
  border-bottom: 2px solid grey;
}
.main:hover {
  transform: scale(1.05);
}
.container a {
  text-decoration: none !important;
}
.fa-pencil:hover {
  background-color: unset !important;
}
.line {
  display: inline-block;
}
.line a {
  margin: 10px 40px;
}
.line a:hover {
  color: black;
}
.tab {
  border-bottom: 3px solid navy;
  margin-top: 50px;
}
.contArt {
  background-color: #E0FFFF !important;
  max-width: 100%;
}
.contFor a{
  color: black !important;
}
.contFor {
  max-width: 100%;
}
.contVid {
  background-color: black !important;
  max-width: 100%;
}
.contVid a {
  color: red !important;
}
.contSpek {
  max-width: 100%;
}
.titleMobil {
  width: 100%; height: 30px; padding: 2px 2px;
}
.indexMobil {
  min-height: 150px;
  max-height: 150px;
}
.index img {
  width: 100%;
  height: 130px;
}
.index {
  min-height: 130px;
  max-height: 130px;
}
.indexforum {
  min-height: 70px;
  max-height: 70px;
}
.thumb {
  width: 100%; height: 30px; padding: 2px 2px;
}
.index2 {
  min-height: 50px;
  max-height: 50px;
}
.index3 {
  min-height: 70px;
  max-height: 70px;
}
.more {
  font-size: 17px;
  padding: 5px 5px;
  text-decoration: none !important;
  transition: letter-spacing 1s;
  transition: letter-spacing 2s;
}
.more:hover {
  letter-spacing: 2px;
  color: black;
  border-bottom: 2px solid blue;
}
.well .fa-map-marker: {
  color: black !important;
}
.fa-map-marker:hover {
  background-color: unset !important;
}
.fa-arrow-right:hover {
  background-color: unset !important;
}
hr.garis {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
img { margin: 0 auto; display: block;}
.scrollTab {
  width: auto; overflow-x: scroll; white-space:nowrap; height: auto;
}
.scrollImg {
  width: auto; overflow-x: scroll; white-space:nowrap; height: auto;
}
.scroll {
  width: auto; overflow-x: scroll; white-space:nowrap; font-family: 'Rationale', sans-serif;
}
#articleShow img {
  max-width: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
::-moz-scrollbar { 
    display: none; 
}
::-o-scrollbar { 
    display: none; 
}
::-ms-scrollbar { 
    display: none; 
}
.file {
  visibility: hidden;
  position: absolute;
}
.tmp img {
  max-width: 100%;
}
.btn { border-radius: unset; }
button { border-radius: unset !important; }
input { border-radius: unset !important; }
select { border-radius: unset !important; }
#show {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 5px 5px #f2f2f2;

  -webkit- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -moz- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -o- box-shadow: 0px 0px 5px 5px #f2f2f2;
  -ms- box-shadow: 0px 0px 5px 5px #f2f2f2;
}
.container .btn { color: white !important;}
.container .panel {
  text-decoration: none;
  letter-spacing: 0.7px;
}
.container-fluid a { color: #ffffff !important; text-decoration: none; font-weight: bold; font-family: 'Rationale', sans-serif; letter-spacing: 1px;}
.thumbnail {
  width: 80px;
  font-size: 10px !important;
  text-decoration: none !important;
}
.fotli {
	display: inline-block;
	margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.fotli a {
	text-decoration: none;
	color: #000000;
  font-size: 11px;
}
.admin {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  list-style: none;
}
.admin a {
  width: 200px;
}
blockquote {
	font-size: 11px !important;
	color: #000000;
	font-weight: bold;
}
/**mce**/
.mce-window                         {max-width:100% !important;}
.mce-window-head                    {background:#f2f2f2 !important;}
.mce-window-body                    {background:#f2f2f2 !important;}
.mce-foot > .mce-container-body     {padding:10px !important; width:80% !important;}
.mce-panel                          {max-width:100% !important;}
.mce-container                      {max-width:100% !important; height:auto !important; overflow:auto;}
.mce-container-body                 {max-width:100% !important; height:auto !important; overflow:auto;}
.mce-form                           {padding:10px !important;}
.mce-tabs                           {max-width:100% !important;}
.mce-formitem                       {margin:10px 0 !important;}
.mce-abs-layout-item                {position:static !important; width:auto !important;}
.mce-abs-layout-item.mce-label      {display:block !important;}
.mce-abs-layout-item.mce-textbox    {-webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; box-sizing:border-box !important; display:block !important; width:100% !important;}
.mce-abs-layout-item.mce-combobox   {display:flex !important;}
.mce-abs-layout-item.mce-combobox > .mce-textbox {-ms-flex:1 1 auto; -webkit-flex:1 1 auto; flex:1 1 auto; height:29px !important; width:80% !important;}
.mce-container-body.mce-window-body.mce-abs-layout iframe {height:500px !important;} /*this only use with responsive file manager 9*/
.navbar-brand a { border-radius: unset !important; }
.navbar {
  background-image:
    linear-gradient(
      #000000, #999999
    );
}
.navbar a:hover {
  background-color: #999999 !important;
}
#logo:hover {background-color: unset !important;}
#imgUser:hover {background-color: unset !important;}
blockquote {
  background-color: #f2f2f2;
  margin-left: -5px;
}
body {
  background-color: #ffffff;
  color: black !important;
}
#fbrands a {
  margin-right: 5px;
  margin-left: 5px;
}
#brandNav {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}
.img-circle {
  width: 40px;
}
.mobil {
  width: 1366px;
  max-width: 100%;
  max-height: 500px;
  min-height: 200px;
}
#profil {
  background-image: url(/partials/aspal.jpg);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  color: white; font-weight: bold;
  max-width: 100%;
}
#tbl {
  font-size: 14px;
 }
.social {
  list-style: none;
}
.dropdown-menu {
  background-image:
    linear-gradient(
      #999999, #000000
    );
}
